Dockerfile
.dockerignore
node_modules
npm-debug.log
.next
.git
.github
*.md
.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.vscode
.history
.temp
.env.local
venv
temp
tmp
tput



docs
build.sh






